:root {
	--color-main: #141414;
	--color-secondary: #fff;
}


body {
	background-color: var(--color-main);
	color: var(--color-secondary);
	font-family: 'Crimson Pro', sans-serif;
	margin: 0;
	padding: 0;
	min-height: 100vh;
	/* Ensures full height for centering */
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	font-size: 1rem;
}

.logo {
	flex-direction: column;
	align-items: center;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

img {
	max-width: 50vw;
	max-height: 50vh;
}

h1 {
	font-size: 40pt;
	font-weight: 500;
	margin: 20px 0;
}

footer {
	background-color: var(--color-main);
	color: var(--color-secondary);
	padding: 20px 0;
}

footer .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* Centraliza os links */
	gap: 10px;
	/* Espaçamento entre os links */
}

.button {
	display: inline-block;
	padding: 10px 15px;
	border-radius: 5px;
	text-decoration: none;
	color: var(--color-secondary);
	background-color: var(--color-main);
	padding: 12px 18px;
	font-weight: 300;
	font-size: 1.3rem;
	margin: 5px;
}

.button:hover {
	background-color: var(--color-secondary);
	color: var(--color-main);
}

/* Mobile Adjustments */
@media only screen and (max-width: 768px) {
	.container {
		flex-direction: column;
	}

	/* Scale down buttons on mobile */
	.button {
		font-size: 1rem;
		/* 16px */
		width: 90%;
		/* Better mobile touch targets */
		max-width: 300px;
		/* Prevent over-stretching */
		text-align: center;
	}

	/* Adjust logo sizing */
	img {
		max-width: 80vw;
		/* Better mobile visibility */
		max-height: 40vh;
	}

	/* Optional: Adjust iframe height */
	iframe {
		height: 180px;
		/* Slightly taller for mobile */
	}
}